.cau-wrapper {
  font-family: 'Roboto', sans-serif;
}

.cau-form {
  position: relative;
  border: 2px dashed #22b890;
  color: #7e7e7e;
}

.cau-form.dragentered {
  border: 2px solid #22b890;
  background: #f8f8f8;
  /*color: #000;*/
}

.cau-input-file {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  outline: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.cau-form-msg {
  display: flex;
  position: absolute;
  z-index: 9;
  top: 0%;
  width: 100%;
  height: 100%;
  
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
   
  font-weight: 500;
  font-style: italic;
  justify-content: center;
  align-items: center;
}

.cau-form-msg:hover {
  background: red;
}

.cau-submit {
  position: absolute;
  right: 0;
  bottom: -53px;
  padding: 10px 60px;;
  color: white;
  background: #22b890;
  border: none;
  cursor: pointer;
}

.cau-status-section {
  margin-top: 15px;
}

.cau-tab-menu { 
  display: flex;
}

.cau-tab-menu > .cau-tab-item {
  font-size: 15px;
  flex: 0 0 auto;
  padding: 10px 10px;
  text-decoration: none;
  color: #939393;
}

.cau-tab-menu > .cau-tab-item.cau-color-danger.active {
  color: red;
}
.cau-tab-menu > .cau-tab-item.active {
  color: #22b890;
}

.cau-tab {
  display: none;
}

.cau-tab.active{
  display: block;
}


.cau-files-ready, .cau-files-declined {
  padding-top: 10px;
}



.cau-file-status-bar {
  display: flex;
  margin: 7px;
  padding: 10px;
  border: 1px solid #bababa;
  border-radius: 8px;
  align-items: center;
}

.cau-file-preview {
  flex: 0 0 auto;
/*   border: 1px solid green; */
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-image: url('https://picsum.photos/200/300')
}

.cau-file-status {
  flex: 1 1 auto;
  padding-left: 10px;
}

.cau-file-info {
  display: flex;
}

.cau-file-name {
  flex: 1 1 auto;
  font-size: 14px;
}
.cau-file-size {
  flex: 0 0 auto;
  padding-left: 5px;
  font-size: 14px;
/*   color: #898989; */
  color: #939393;
}

.cau-file-progressbar-box {
  display: flex;
  align-items: center;
}

.cau-file-progressbar-menu {
  flex: 1 1 auto;
}

.cau-file-progressbar-remove-btn {
  background: none;
  border: none;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
  color: #ff8383;
}

.cau-file-progressbar-remove-btn:hover {
  color: red;
}

.cau-file-progressbar-back {
  flex: 1 1 auto;
  background: #d5d5d5;
  height: 5px;
}

.cau-file-progressbar {
  background: #8cd3d0;
  height: 5px;
  width: 0%;
}

.cau-file-progressbar.completed {
  width: 100%;
  background: #22b890;
}

.cau-file-progressbar-percentage {
  flex: 0 0 auto;
  width: 50px;
  padding-left: 5px;
  text-align: right;
  font-size: 14px;
  color: #8cd3d0;
}

.cau-file-progressbar-percentage.completed {
  color: #22b890;
}

.cau-file-status-bar.completed {
  border: 1px solid #22b890;
}

.cau-file-status-bar.error {
  border: 1px solid red;
}

.cau-file-error-box {
  
}

.cau-file-error {
  margin: 6px;
  padding-left: 20px;
  font-size: 14px;
  color: #ff4a4a;
}